%html
  %head
    %title
      A Balanced ScoreCard Application
  %body
    %div#header
      #maintitle
        A Balanced ScoreCard Application -- Admin Module
      #home
        = link_to "Home", "/presentation"
      #exit
        = link_to "Log Out", "/destroy"
    = javascript_include_tag "admin/users","admin/roles","admin/main"