%div#header
  #maintitle
    A Balanced ScoreCard Application
  #exit
    = link_to "Log Out", "/destroy"
= javascript_include_tag "FusionCharts","app/fchart"
= javascript_include_tag "app/general","app/units","app/responsibles","app/organizations","app/strategies","app/initiatives","app/perspectives","app/objectives","app/measures","app/targets","app/main"
