.saving {
  background-image: url("../images/save.gif") !important;
  background-repeat: no-repeat;
}

.initiative{
  background-image: url("../images/star_gold.png") !important;
  background-repeat: no-repeat;
}

.measure {
  background-image: url("../images/time_go.png") !important;
  background-repeat: no-repeat;
}
.unit {
  background-image: url("../images/wrench.png") !important;
  background-repeat: no-repeat;
}

.save {
  background-image: url("../images/accept.png") !important;
  background-repeat: no-repeat;
}

.close {
  background-image: url("../images/cancel.png") !important;
  background-repeat: no-repeat;
}

.objs {
  background-image: url("../images/connect.gif") !important;
  background-repeat: no-repeat;
}

.persp {
  background-image: url("../images/package.png") !important;
  background-repeat: no-repeat;
}

.del {
  background-image: url("../images/delete.gif") !important;
  background-repeat: no-repeat;
}

.edit {
  background-image: url("../images/edit.png") !important;
  background-repeat: no-repeat;
}

.new {
  background-image: url("../images/add.gif") !important;
  background-repeat: no-repeat;
}

.home {
  background-image: url("../images/home.png") !important;
  background-repeat: no-repeat;
}

.orgs {
  background-image: url("../images/mail.png") !important;
  background-repeat: no-repeat;
}

.strats {
  background-image: url("../images/plugin.gif") !important;
  background-repeat: no-repeat;
}

#header{
    padding-top: 2px;
    padding-left: 10px;
    background: url("../images/bar.gif") repeat-x scroll 0 0 #1E4176;
    color: white;
}

#maintitle{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size:16px;
}

body {
    margin: 0;
    padding: 0 0 20px;
    min-height: 100%;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    font-size: 12px;
}

/*for the buttons*/
.container { width: 550px; margin: 0 auto; }
.column { float: left; margin-right: 10px; }
.span-3 { width: 110px; }
.last { margin-right: 0; }
