.upload{
  background-image: url("../images/page_white_get.png") !important;
  background-repeat: no-repeat;
}

.import{
  background-image: url("../images/import.png") !important;
  background-repeat: no-repeat;
}

.calc{
  background-image: url("../images/calculator.png") !important;
  background-repeat: no-repeat;
}

.go{
  background-image: url("../images/bullet_go.png") !important;
  background-repeat: no-repeat;
}

.paste{
  background-image: url("../images/paste.png") !important;
  background-repeat: no-repeat;
}

.link{
  background-image: url("../images/link.png") !important;
  background-repeat: no-repeat;
}

.cut{
  background-image: url("../images/cut.png") !important;
  background-repeat: no-repeat;
}

.copy{
  background-image: url("../images/copy.png") !important;
  background-repeat: no-repeat;
}

/*****************************************************/
#everybody{
    float:left;
}

#drawcanvas{
    margin-left: 400px;
    width:800px;
    height: 500px;
    border-style: groove;
}

/******************************************************/
.top-wrap {
    cursor: pointer;
    width: 60px;
}

.formula-selected {
    background-color: #DFE8F6;
    cursor: pointer;
}

.top-over {
    background-color:#EFEFEF;
    cursor: pointer;
}

#squares{
    font-family: monospace;
    font-size: 12px;
    border: 1px solid #bbb;
    height: 50px;
    text-align: center;
    width: 50px;
    padding: 0px 3px 0px 0px;
}
.open_bracket{
  background-image: url("../images/opened_bracket.png") !important;
  background-repeat: no-repeat;
}

.close_bracket{
  background-image: url("../images/closed_bracket.png") !important;
  background-repeat: no-repeat;
}

.divide{
  background-image: url("../images/divide.png") !important;
  background-repeat: no-repeat;
}

.multiply{
  background-image: url("../images/multiply.png") !important;
  background-repeat: no-repeat;
}

.subtract{
  background-image: url("../images/minus.png") !important;
  background-repeat: no-repeat;
}

.sum{
  background-image: url("../images/sum1.png") !important;
  background-repeat: no-repeat;
}

.line{
  background-image: url("../images/line.png") !important;
  background-repeat: no-repeat;
}

.curve{
  background-image: url("../images/curve.png") !important;
  background-repeat: no-repeat;
}

.ellipse{
  background-image: url("../images/ellipse.png") !important;
  background-repeat: no-repeat;
}

.text{
  background-image: url("../images/textfield.png") !important;
  background-repeat: no-repeat;
}

.erase{
  background-image: url("../images/erase.png") !important;
  background-repeat: no-repeat;
}
/******************************************************/

.formula-over {
    background-color:#EFEFEF;
    cursor: pointer;
}
.formula-selected {
    background-color: #DFE8F6;
    cursor: pointer;
}

.formula_icon{
  background-image: url("../images/sum.png") !important;
  background-repeat: no-repeat;
}

.exit{
  background-image: url("../images/exit.png") !important;
  background-repeat: no-repeat;
  width: 16px;
}

.admin {
  background-image: url("../images/lock_open.png") !important;
  background-repeat: no-repeat;
  width: 16px;
}

.tablebutton{
    float: right;
}

.map {
  background-image: url("../images/map.png") !important;
  background-repeat: no-repeat;
}

.role {
  background-image: url("../images/role.png") !important;
  background-repeat: no-repeat;
}

.user {
  background-image: url("../images/user.png") !important;
  background-repeat: no-repeat;
}

.check {
  background-image: url("../images/tick.png") !important;
  background-repeat: no-repeat;
}

.gantt {
  background-image: url("../images/shape_align_right.png") !important;
  background-repeat: no-repeat;
}

.responsible {
  background-image: url("../images/user_suit.png") !important;
  background-repeat: no-repeat;
}

.red {
  background-image: url("../images/red.png") !important;
  background-repeat: no-repeat;
}

.yellow {
  background-image: url("../images/yellow.png") !important;
  background-repeat: no-repeat;
}

.green {
  background-image: url("../images/green.png") !important;
  background-repeat: no-repeat;
}

.chart {
  background-image: url("../images/chart_bar.png") !important;
  background-repeat: no-repeat;
}

.saving {
  background-image: url("../images/save.gif") !important;
  background-repeat: no-repeat;
}

.initiative{
  background-image: url("../images/star_gold.png") !important;
  background-repeat: no-repeat;
}

.measure {
  background-image: url("../images/time_go.png") !important;
  background-repeat: no-repeat;
}

.unit {
  background-image: url("../images/tag_blue.png") !important;
  background-repeat: no-repeat;
}

.tools {
  background-image: url("../images/wrench.png") !important;
  background-repeat: no-repeat;
}

.export{
  background-image: url("../images/book_go.png") !important;
  background-repeat: no-repeat;
}

.save {
  background-image: url("../images/accept.png") !important;
  background-repeat: no-repeat;
}

.close {
  background-image: url("../images/cancel.png") !important;
  background-repeat: no-repeat;
}

.objs {
  background-image: url("../images/connect.gif") !important;
  background-repeat: no-repeat;
}

.persp {
  background-image: url("../images/package.png") !important;
  background-repeat: no-repeat;
}

.del {
  background-image: url("../images/delete.gif") !important;
  background-repeat: no-repeat;
}

.edit {
  background-image: url("../images/edit.png") !important;
  background-repeat: no-repeat;
}

.new {
  background-image: url("../images/add.gif") !important;
  background-repeat: no-repeat;
}

.home {
  background-image: url("../images/home.png") !important;
  background-repeat: no-repeat;
  width:16px;
}

.orgs {
  background-image: url("../images/mail.png") !important;
  background-repeat: no-repeat;
}

.strats {
  background-image: url("../images/plugin.gif") !important;
  background-repeat: no-repeat;
}

#header{
    padding-top: 2px;
    padding-left: 10px;
    background: url("../images/bar.gif") repeat-x scroll 0 0;
    color: white;
    height: 28px;
}

#maintitle{
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size:16px;
    width: 600px;
}

#header a{
    float: right;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size:12px;
    color: white;
    margin-right: 8px;
}

body {
    margin: 0;
    padding: 0 0 20px;
    min-height: 100%;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    font-size: 12px;
}

/*for the buttons*/
.container { width: 550px; margin: 0 auto; }
.column { float: left; margin-right: 10px; }
.span-3 { width: 110px; }
.last { margin-right: 0; }
